{include file="public/head"}

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {volist name="articles" id="article"}
                <article class="post post-{$article.id}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{:url('index/detail', ['id' => $article.id])}">{$article.title}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="{:url('category/index', ['id'=>$article.category_id])}">{$article.category_id|getCategoryNameById}</a></span>
                            <span class="post-date"><a><time class="entry-date"
                                                                      datetime="{$article.create_time}">{$article.create_time}</time></a></span>
                            <span class="comments-link"><a>{$article.id|getCommentCountById} 评论</a></span>
                            <span class="views-count"><a>{$article.click} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{$article.excerpt}</p>
                        <div class="read-more cl-effect-14">
                            <a href="{:url('index/detail', ['id' => $article.id])}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {/volist}
                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination">
                    {:pagination($articles)}
                </div>
            </main>
            <aside class="col-md-4">
                {include file="public/side"}
            </aside>
        </div>
    </div>
</div>
{include file="public/foot"}