{include file="public/head"}
<body>
<div class="pd-20">
  <div class="Huiform">
    <form action="{:url('user/edit')}" method="post">
      <table class="table table-bg">
        <tbody>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 昵称：</th>
            <td><input type="text" style="width:200px" disabled class="input-text" value="{$user.name}" placeholder="" id="name" name="name"></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 用户名：</th>
            <td><input type="text" style="width:200px" disabled class="input-text" value="{$user.username}" placeholder="" id="user-name" name="username"></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 旧密码：</th>
            <td><input type="password" style="width:200px" class="input-text" name="old_password"></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 新密码：</th>
            <td><input type="password" style="width:200px" class="input-text" name="password"></td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 确认新密码：</th>
            <td><input type="password" style="width:200px" class="input-text" name="re_password"></td>
          </tr>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 手机：</th>
            <td><input type="text" style="width:300px" disabled class="input-text" value="{$user.phone}" placeholder="" id="user-tel" name="phone"></td>
          </tr>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 邮箱：</th>
            <td><input type="email" style="width:300px" disabled class="input-text" value="{$user.email}" placeholder="" id="user-email" name="email"></td>
          </tr>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 激活状态：</th>
            <td>
              <input type="radio" name="status" value="1" {if condition="$user.status eq 1"} checked {/if}>激活
              <input type="radio" name="status" value="0"{if condition="$user.status eq 0"} checked {/if}>不激活
            </td>
          </tr>
          <tr>
            <th><input type="hidden" name="id" value="{$user.id}"></th>
            <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
{include file="public/foot"}